*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.div{
    padding: 0;
    text-align: center;
}
.middle{
    position: absolute;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 40%;
    }
}